@model ATS.WebUi.Models.SignUpModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navigation{
    <div class="NavItems">
        <span class="navTitle">RESET PASSWORD</span>
        <span class="chevron"></span>
    </div>
}

<script>
    function resetSuccess(result) {
        result = JSON.parse(result);
        if (result.IsError == true) {
            var $form = $('#resetPassword');
            VacancyModel.DisplayErrorMeesage('#commonMessage', result.Message, 3000);
        }
        else {
            window.location = result.Url;
        }
    }

    function resetFailed(result) {
        if (!$("#resetPassword").valid()) {
            $("#resetPassword").submit();
            var validator = $("#resetPassword").validate();
            var errors = validator.numberOfInvalids();
            if (errors) {
                $("span.notification").html(validator.errorList[0].message);
                $("span.notification").show().delay(3000).fadeOut('fast');
                return false;
            }
        }
    }

    function OnClickValidate() {
        if (!$("#resetPassword").valid()) {
            $("#resetPassword").submit();
            var validator = $("#resetPassword").validate();
            var errors = validator.numberOfInvalids();
            if (errors) {
                var msg = validator.errorList[0].message;
                if ($("span.notification") != undefined && $("span.notification").length > 0) {
                    $("span.notification").html(msg);
                    $("span.notification").show().delay(3000).fadeOut('fast');
                }
                else {
                    VacancyModel.DisplayErrorMeesage('#commonMessage', msg, '@ATS.WebUi.Common.Constants.JSCR_MSG_FADEOUT');
                }
                return false;
            }
        }
    }
    function ajaxValidate() {
        return $('#resetPassword').validate().form();
    }
</script>

@using (Ajax.BeginForm("ResetPassword", "Home", new { area = ATS.WebUi.Common.Constants.AREA_ROOT }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnBegin = "ajaxValidate",
    OnSuccess = "resetSuccess",
    OnFailure = "resetFailed",

}, new { @id = "resetPassword" }))
{
    <text>
        <div id="Messages" style="width: auto; float: left;position:inherit;margin-left:25px;">
        </div>
        <div class="vacancy-Details" style="margin-left: 0;">
            <div class="left-div">
                <div class="box">
                    @Html.LanguageLabelFor(m => m.UserName, new { @class = "label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "detail-input" })
                </div>

                <div class="box">
                    @Html.LanguageLabelFor(m => m.Password, new { @class = "label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "detail-input" })
                </div>

                <div class="box">
                    @Html.LanguageLabelFor(m => m.ConfirmPassword, new { @class = "label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "detail-input" })
                </div>
                <input type="Submit" value=" reset password" id="btnSubmit" onclick="return OnClickValidate();" class="btn-add-new CaseUpper" style="width: 146px; float: left; background: url('../Content/images/Change_Status_24.png') no-repeat scroll 7px 5px rgba(0, 0, 0, 0); " />

            </div>
        </div>
    </text>
}