@model ATS.BusinessEntity.ApplicationReviewProcess
@using CommonConst = ATS.BusinessEntity.Common.VacancyRound;
@using BERndAttr = ATS.BusinessEntity.RndAttrNo;
@{
    int RndAttrNo = ATS.WebUi.Common.CommonFunctions.GetAttributesNoByVacRndId(Model.objVacancyRound.VacancyRoundId);
    BERndAttr RndAttr = (BERndAttr)RndAttrNo;
}
<div class="acc-header" data-index="1" data-roundid="@Model.objVacancyRound.VacancyRoundId">
    <p class="prfle-tab-head">
        @Html.LanguageLabel(CommonConst.ROUND_REVIEWERS)
        <span class="revCount ttldbrown" data-rndconfigrevcnt="@Model.objVacancyRound.ReqReviewer">(@Model.objVacancyRound.ReviewersCount)</span>
        <span class="notification" style="display:none;"></span>
        <span class="Save" data-roundrevid="@Model.objVacancyRound.VacancyRoundId" style="display:none;">
        </span>
    </p>
</div>
<div class="acc-Content">
</div>
@if (RndAttr != BERndAttr.OfferRound)
{
    <div class="acc-header" data-index="2" data-roundid="@Model.objVacancyRound.VacancyRoundId">
        <p class="prfle-tab-head">
            @Html.LanguageLabel(CommonConst.ROUND_QUESTIONS)
            <span class="lblTotalQueCount lblRoundBraces ttldbrown">@Model.objVacancyRound.QueCount</span>
            <span class="notification" style="display:none;"></span>
            <span class="Save" data-roundqueid="@Model.objVacancyRound.VacancyRoundId" style="display:none;">
            </span>
        </p>
    </div>
    <div class="acc-Content">

    </div>
}

<div class="acc-header" data-index="4" data-roundid="@Model.objVacancyRound.VacancyRoundId">
    <p class="prfle-tab-head">
        Required Documents
        <span class="lblReqDocCount lblRoundBraces ttldbrown">@Model.objVacancyRound.RequiredDocumentCount</span>
        <span class="notification" style="display:none;"></span>
    </p>
</div>
<div class="acc-Content">

</div>

<div class="acc-header" data-index="3" data-roundid="@Model.objVacancyRound.VacancyRoundId">
    <p class="prfle-tab-head">
        @Html.LanguageLabel(CommonConst.ROUND_CONFIGURATION)
        <span class="notification" style="display:none;"></span>
        <span class="Save" data-roundconfigid="@Model.objVacancyRound.VacancyRoundId" style="display:none;">
        </span>
    </p>
</div>
<div class="acc-Content">

</div>