@model ATS.WebUi.Models.BreadScrumbModel<ATS.BusinessEntity.SRPEntity.DynamicSRP<List<ATS.BusinessEntity.ApplicationBasedStatus>>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="hdnControllerName" type="hidden" value="ApplicationBasedStatus" />
@section Navigation{
    @Html.Partial("_NavCompanySetup")
}

<div id="Messages" style="width: auto; float: left; position: inherit; margin-left: 25px;">
</div>

@Html.Partial("Buttons/_ListGearAdmin", Model.obj)
@Html.Partial("Shared/_AppBasedStatusList", Model.obj.obj)

@if (ViewBag.IsError != null && ViewBag.IsError == true)
{
    <script>
        VacancyModel.DisplayErrorMeesage('#commonMessage', '@ViewBag.Message', '@ATS.WebUi.Common.Constants.JSCR_MSG_FADEOUT');
    </script>
}
@if (ViewBag.IsError != null && ViewBag.IsError == false)
{
    <script>
        VacancyModel.DisplaySuccessMeesage('#commonMessage', '@ViewBag.Message', '@ATS.WebUi.Common.Constants.JSCR_MSG_FADEOUT');
    </script>
}
