@using BESrp = ATS.BusinessEntity.SRPEntity;
@using ATSModel = ATS.BusinessEntity.UserDivisionSecurityRole;
@using BEUserConst = ATS.BusinessEntity.Common.UserConst
@using BEClient = ATS.BusinessEntity
@model ATS.WebUi.Models.BreadScrumbModel<BEClient.SRPEntity.DynamicSRP<BEClient.UserDivisionSecurityRole>>


<div class="acc-Content">

    <div>

        <div class="std_width">
            <div class="std_hlfwdth spctop-btm">
                <div class="std_width ">
                    <div class="security-title">@Html.LanguageLabel(ATS.BusinessEntity.Common.Credential.FRM_PRF_CREDENTIAL_USERNAME)</div>
                    @if (ViewBag.IsEdit == 1)
                    {
                        @Html.TextBoxFor(m => m.obj.obj.objUser.Username, new { @Id = "txtUserName", @class = "detail-input", @readonly = "readonly" })
                    }
                    else
                    {@Html.TextBoxFor(m => m.obj.obj.objUser.Username, new { @Id = "txtUserName", @class = "detail-input" }) }
                    @if (ViewBag.IsEdit == 1)
                    {
                        <a href='@Url.Action("ChangeCredential", "User", new { @UserId = Model.obj.obj.objUser.UserId, @email = Model.obj.obj.objUser.Username })' style="color:#345E8E;text-decoration:underline; clear: both; display: inline-block;" class="permission-link">Click here to change password</a>
                    }
                    else
                    {
                        <div class="security-title">@Html.LanguageLabel(ATS.BusinessEntity.Common.Credential.FRM_PRF_CREDENTIAL_PASSWORD)</div>
                        @Html.PasswordFor(m => m.obj.obj.objUser.Password, new { @class = "detail-input", @id = "txt_pass" })
                        <div class="security-title">@Html.LanguageLabel(ATS.BusinessEntity.Common.UploadResumeConstant.FRM_UPR_CONFIRM_PASSWORD)</div>
                        @Html.PasswordFor(m => m.obj.obj.objUser.ConfirmPassword, new { @class = "detail-input", @id = "txt_pass" })
                    }

                    @if (ViewBag.IsEdit == 1)
                    {
                        <div class="security-title">
                            @Html.CheckBoxFor(m => m.obj.obj.objUser.IsActive, new { @id = "isActive" }) @Html.LanguageLabel(ATS.BusinessEntity.Common.Credential.FRM_PRF_CREDENTIAL_ISACTIVE)
                        </div>
                    }
                </div>
            </div>
            <div class="std_hlfwdth spctop-btm">
            </div>
        </div>
    </div>
</div>