@using BE = ATS.BusinessEntity
@model IList<BE.SpeakingEventHistory>
@using BECommonConst = ATS.BusinessEntity.Common.CommonConstant

@foreach (var v in Model)
{
    <div class="content">
        <h3>@v.Title - @v.StartDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) @v.StartDate.ToString("yyyy") </h3>
        <p>
            @v.EventName, @v.Location<br />
            <em>@v.EventType</em>
        </p>
        <ul class="info">
            <li>@v.Link</li>

        </ul>
    </div>
}