@using BE = ATS.BusinessEntity
@model BE.Achievement
@using BECommonConst = ATS.BusinessEntity.Common.CommonConstant

<div class="acc-header">
    <p class="prfle-tab-head">
        <span class='ttldb'>@ATS.WebUi.Common.CommonFunctions.TruncateProfileTitleString(Model.IssuingAuthority)</span>
    </p>
</div>

<div class="acc-Content">
    <table>
        <tr>
            <td>
                <div class="vacancy-Details">
                    <div class="left-div">
                        <div class="box">
                            @Html.LanguageLabelFor(m => m.IssuingAuthority, new { @class = "label" })
                            @Html.TextBoxFor(m => m.IssuingAuthority, new { @class = "detail-input" })
                        </div>

                        <div class="box">
                            @Html.LanguageLabelFor(m => m.Description, new { @class = "label" })
                            @Html.TextAreaFor(m => m.Description, new { @class = "detail-input txtarea" })
                        </div>
                    </div>

                    <div class="right-div">
                        <div class="box">
                            @Html.LanguageLabelFor(m => m.Date, new { @class = "label" })
                            @Html.TextBoxFor(m => m.DateText, new { @class = "detail-input", @readOnly = "readOnly" })
                        </div>
                    </div>
                </div>
                <br clear="all" />
            </td>
    </table>
</div>
