@using BE = ATS.BusinessEntity
@model BE.Associations
@using BECommonConst = ATS.BusinessEntity.Common.CommonConstant

<div class="acc-header">
    <p class="prfle-tab-head">
        <span class='ttldb'>@ATS.WebUi.Common.CommonFunctions.TruncateProfileTitleString(Model.Name)</span>
    </p>
</div>

<div class="acc-Content">
    <table>
        <tr>
            <td>
                <div class="vacancy-Details">
                    <div class="left-div">
                        <div class="box">
                            @Html.LanguageLabelFor(m => m.Name, new { @class = "label" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "detail-input" })
                        </div>

                        <div class="box">
                            @Html.LanguageLabelFor(m => m.StartDate, new { @class = "label" })
                            @Html.TextBoxFor(m => m.StartDateText, new { @class = "detail-input", @readOnly = "readOnly" })
                        </div>

                        <div class="box">
                            @Html.LanguageLabelFor(m => m.Role, new { @class = "label" })
                            @Html.TextBoxFor(m => m.Role, new { @class = "detail-input" })
                        </div>
                    </div>

                    <div class="right-div">
                        <div class="box">
                            @Html.LanguageLabelFor(m => m.AssociationType, new { @class = "label" })
                            @Html.TextBoxFor(m => m.AssociationType, new { @class = "detail-input" })
                        </div>
                        <div class="box">
                            @Html.LanguageLabelFor(m => m.EndDate, new { @class = "label" })
                            @Html.TextBoxFor(m => m.EndDateText, new { @class = "detail-input", @readOnly = "readOnly" })
                        </div>

                        <div class="box">
                            @Html.LanguageLabelFor(m => m.Link, new { @class = "label" })
                            @Html.TextBoxFor(m => m.Link, new { @class = "detail-input" })
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdSaveButton">
                <div style="border-top: 2px solid #953634;">
                    <button type="submit" class="prfle-button-save CaseUpper">Save Association</button>
                </div>
            </td>
        </tr>
    </table>
</div>