@using BE = ATS.BusinessEntity
@model BE.PublicationHistory
@using BECommonConst = ATS.BusinessEntity.Common.CommonConstant

<div class="acc-header">
    <p class="prfle-tab-head">
        <span class='ttldb'>@ATS.WebUi.Common.CommonFunctions.TruncateProfileTitleString(Model.Title)</span>
    </p>
</div>

<div class="acc-Content">
    <table>
        <tr>
            <td>
                <div class="vacancy-Details">
                    <div class="std-width">
                        <div class="left-div">
                            <div class="box">
                                @Html.LanguageLabelFor(m => m.Title, new { @class = "label" })
                                @Html.TextBoxFor(m => m.Title, new { @class = "detail-input" })
                            </div>
                            <div class="box">
                                @Html.LanguageLabelFor(m => m.Type, new { @class = "label" })
                                @Html.TextBoxFor(m => m.Type, new { @class = "detail-input" })
                            </div>
                            <div class="box">
                                @Html.LanguageLabelFor(m => m.PublicationDate, new { @class = "label" })
                                @Html.TextBoxFor(m => m.PublicationDateText, new { @class = "detail-input", @readOnly = "readOnly" })
                            </div>
                            <div class="box">
                                @Html.LanguageLabelFor(m => m.Description, new { @class = "label" })
                                @Html.TextAreaFor(m => m.Description, new { @class = "detail-input txtarea" })
                            </div>
                            <div class="box">
                                @Html.LanguageLabelFor(m => m.Comments, new { @class = "label" })
                                @Html.TextAreaFor(m => m.Comments, new { @class = "detail-input txtarea" })
                            </div>
                        </div>

                        <div class="right-div">
                            <div class="box">
                                @Html.LanguageLabelFor(m => m.Name, new { @class = "label" })
                                @Html.TextBoxFor(m => m.Name, new { @class = "detail-input" })
                            </div>
                            <div class="box">
                                @Html.LanguageLabelFor(m => m.Role, new { @class = "label" })
                                @Html.TextBoxFor(m => m.Role, new { @class = "detail-input" })
                            </div>
                        </div>
                    </div>
                </div>
                <br clear="all" />
            </td>
        </tr>
    </table>
</div>
