@using BEClient = ATS.BusinessEntity
@model ATS.WebUi.Areas.Candidate.Models.JobApplication<ATS.WebUi.Models.BreadScrumbModel<BEClient.CandidateApplications>>
@using BEApplicationDetailsConstantConst = ATS.BusinessEntity.Common.ApplicationDetailsConstant
@using BEApplicationOptionsConstant = ATS.BusinessEntity.Common.ApplicationStatusOptionsConstant
@using BECommonConstatnConst = ATS.BusinessEntity.Common.CommonConstant
@using CommonFunction = ATS.WebUi.Common.CommonFunctions

@using (Ajax.BeginForm("SubmitCandidateSurvey", "CandidateSurvey", new { returnUrl = ViewBag.ReturnURL }, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Post",
            OnSuccess = "SubmitCandidateSurveySuccess",
            OnFailure = "SubmitCandidateSurveyFailed"
        }, new { @id = "frmCandidateSurveyApp" }))
{
    @*<script>
             var formCS = $("#frmCandidateSurveyApp");
             $.validator.unobtrusive.parse(formCS);
        </script>*@
    @Html.HiddenFor(m => m.mainObject.obj.ApplicationId);
    @Html.HiddenFor(m => m.mainObject.obj.VacRndId);

    <div class="CanAccountLeft" style="width: 60%; margin-top: 15px; ">
        <div class="CanAccountTitle" style="margin-bottom: 0;">
            <span class="MainTitle">Applicant Survey</span>
            <span class="SubTitle">The following questions are required as part of this opportynity application:</span>
        </div>
        @if (Model.ListPickList == null && Model.ListCheckList == null && Model.ListATSTextArea == null && Model.ListATSTextBox == null && Model.ListATSYesNo == null && Model.ListATSScale == null)
        {
            <span class="NoRecordMessage CaseUpper">No questions available</span>
        }
        else
        {
            <div class="jobapp-textarea QuestionForm" style="width: 100%; padding-bottom: 0;">
                @Html.Partial("Question/_CreateQuestions", Model)
            </div>
        }
        @if (@ViewBag.ApplicationStatus == "APP_STAT_DRAFT")
        {
            <div class="box CAAction" style="margin-top: 0 !important;">
                <div class="w30 floatright">
                    <button class="btn-icon24 bgSubmitApplication24 floatright" name="submitButton" value="SubmitApplication">SUBMIT APPLICATION</button>
                </div>
            </div>
        }
    </div>
}

<script>
    function SubmitCandidateSurveySuccess(data) {
        var jsondata = JSON.parse(data);
        if (!jsondata.IsError) {
            var _CanSurveyAcc = $(".AccApplication");
            var _form = $('#frmCandidateSurveyApp');
            if ($(_CanSurveyAcc).length > 0) {
                var _active = $(_form).closest($(_CanSurveyAcc)).accordion("option", "active");
                $(_CanSurveyAcc).accordion('destroy').accordion(VacancyModel.AccSecondAttr).accordion("option", "active", _active);
            } else {
                var _URl = '@Url.Action("Index", "MyApplications", new { @area = "Candidate" })';
                window.location = _URl;
            }
        }
        else {
            VacancyModel.DisplayErrorMeesage('#commonMessage', jsondata.Message, 3000);
        }
    }

    function SubmitCandidateSurveyFailed() {
        //alert("Failed")
    }
</script>