@using BECommonConst = ATS.BusinessEntity.Common.CommonConstant
@using BEClient = ATS.BusinessEntity;
@model BEClient.VacQueCat

<div class="acc-header" data-pkid="@Model.VacQueCatId" data-roundid="@Model.VacRndId">
    <p class="prfle-tab-head-brown">
        <span class="w50 SMW70" style="float:left;">
            <span class='Save'></span>
            <span class='ttldblue' id="rndtype">@Model.objQueCat.LocalName</span>
            <span id="VacQueCount" class="lblVacQueCount lblRoundBraces">@Model.VacQueCount</span>
        </span>
        <span style="padding-right: 1%; padding-left: 1%;" class="ansoption">
            @if (@Model.order == 1 && @Model.VacQueCatCnt > 1)
            {
                <span class="down"><a href='javascript:void(0);' id="OrderDown" data-url='@Url.Action("VacQueCatReorder", "MyVacancy", new { @area = ATS.WebUi.Common.Constants.AREA_EMPLOYEE, @VacRndId = Model.VacRndId, @VacQueCatId = Model.VacQueCatId, @OrderDir = "Down" })' onclick="return SetVacQueCatOrder(this);"><img src="~/Content/images/down_arrow_16.png" height="13" width="13" /></a></span>
            }
            else if (@Model.order == @Model.VacQueCatCnt && @Model.VacQueCatCnt > 1)
            {
                <span class="up"><a href='javascript:void(0);' id="OrderUp" data-url='@Url.Action("VacQueCatReorder", "MyVacancy", new { @area = ATS.WebUi.Common.Constants.AREA_EMPLOYEE, @VacRndId = Model.VacRndId, @VacQueCatId = Model.VacQueCatId, @OrderDir = "Up" })' onclick="return SetVacQueCatOrder(this);"><img src="~/Content/images/up_arrow_16.png" height="13" width="13" /></a></span>
            }
            else
            {
                if (@Model.VacQueCatCnt > 1)
                {
                    <span class="up"><a href='javascript:void(0);' id="OrderUp" data-url='@Url.Action("VacQueCatReorder", "MyVacancy", new { @area = ATS.WebUi.Common.Constants.AREA_EMPLOYEE, @VacRndId = Model.VacRndId, @VacQueCatId = Model.VacQueCatId, @OrderDir = "Up" })' onclick="return SetVacQueCatOrder(this);"><img src="~/Content/images/up_arrow_16.png" height="13" width="13" /></a></span>
                    <span class="down"><a href='javascript:void(0);' id="OrderDown" data-url='@Url.Action("VacQueCatReorder", "MyVacancy", new { @area = ATS.WebUi.Common.Constants.AREA_EMPLOYEE, @VacRndId = Model.VacRndId, @VacQueCatId = Model.VacQueCatId, @OrderDir = "Down" })' onclick="return SetVacQueCatOrder(this);"><img src="~/Content/images/down_arrow_16.png" height="13" width="13" /></a></span>
                }
            }
            <span class="up">
                @if (Model.PermissionType.Contains(BEClient.ATSPermissionType.Modify))
                {
                    <a href='javascript:void(0);' id="VacQueCatEdit" onclick="EditVacQueCat(this, event)" data-pkid="@Model.VacQueCatId" data-vacrndid="@Model.VacRndId"><img src="~/Content/images/edit_16.png" height="13" width="13" /></a>
                }
                @if (Model.PermissionType.Contains(BEClient.ATSPermissionType.Delete))
                {
                    <a href='javascript:void(0);' id="VacQueCatdelete" onclick="MyVacancy.DeleteVacQueCatConfirm(this)" data-pkid="@Model.VacQueCatId"><img src="~/Content/images/delete_16.png" height="13" width="13" /></a>
                }
            </span>
        </span>
        <span class="w30">
            <label></label>
        </span>
        <span class="w30 floatright textright sm-disabled">
            <span class="ttldblue">@Html.LanguageLabel(BECommonConst.FRM_APP_REV_WEIGHT): </span>
            <span class="ttllbrown" id="rndweight">@Model.Weight</span>
        </span>
    </p>
</div>

<div class="acc-Content">
    <div class="CRUInterviewQuestion ARPInterviewQue">
        <span class="editsection" style="display:none;">

        </span>
        <div class="QuestionDetails">

        </div>
        <div class="Content">
            <a id="addQuestion" href="javascript void();" class="btn CaseUpper">Add Question</a>
        </div>

    </div>
    <div class="CRUVacQueCat">
    </div>
    @Html.Partial("Shared/_SectionDone", null)
</div>
<script>
    function ConfirmDeleteVacCatQue(element) {
        VacancyModel.ConfirmDialog("ConfirmDiv", "Delete Question Category", 300, "Are you sure you want to delete this  Question Categor?", "Yes", "Cancel", "MyVacancy.DeleteVacQueCat", element, "test");
        return false;
    }

    function EditVacQueCat(element, event) {
        var accHeader = $(element).parents(".acc-header");
        var accParent = $(element).parents(".VacQueCat");
        var Index = $(accParent).find(".acc-header").index(accHeader);
        $(accParent).off("accordionbeforeactivate");
        $(accParent).accordion("option", "active", parseInt(Index));
        var VacQueCatId = $(element).attr("data-pkid");
        var VacRndId = $(element).attr("data-vacrndid");
        var dataLink = '@Html.Raw(Url.Action("GetVacQueCat", "MyVacancy", new { VacancyRndId = "_VACRNDID_", VacQueCatId = "_VACQUECATID_" }))';
        dataLink = dataLink.replace("_VACQUECATID_", VacQueCatId);
        dataLink = dataLink.replace("_VACRNDID_", VacRndId);
        VacancyModel.CallGetMethod(dataLink, function (data) {
            $(accHeader).next(".acc-Content").find(".CRUInterviewQuestion").hide();
            $(accHeader).next(".acc-Content").find(".CRUVacQueCat").show();
            $(accHeader).next(".acc-Content").find(".CRUVacQueCat").html('');
            $(accHeader).next(".acc-Content").find(".CRUVacQueCat").append(data);
        });

        $(element).parents(".VacQueCat").on("accordionbeforeactivate", function (event, ui) {
            MyVacancy.AccVacQueCatBA(event, ui);
            event.stopImmediatePropagation();
            MyVacancy.MakeFormReadOnly();
        });
    }

    function DeleteVacQueCat(Result, element) {
        if (Result) {
            var CountCQ = $(element).parents(".acc-header").find('.lblVacQueCount').text();
            var CountTQ = $(element).parents(".VacQueCat").parent(".acc-Content").prev(".acc-header").find(".lblTotalQueCount").html();
            $(element).parents(".VacQueCat").parent(".acc-Content").prev(".acc-header").find(".lblTotalQueCount").html(parseInt(CountTQ) - parseInt(CountCQ));

            var _VacQueCatId = $(element).attr('data-pkid');
            var _VacRndId = $(element).parents('.acc-header:first').attr('data-roundid');
            var _dataLink = MyVacancy.RemoveVacQueCat + '?VacQueCatId=' + _VacQueCatId + '&VacRndId=' + _VacRndId;
            VacancyModel.CallPostMethod(_dataLink, function (data, message) {
                var _parentAcc = $(element).parents('#VacancyAcc');
                //var _parentactive = _parentAcc.accordion("option", "active");
                var _rndacc = $(element).parents('.AccRoundDetail');
                var _rndactive = _rndacc.accordion("option", "active");
                //var _Queacc = $(element).parents('.AccRoundDetail');
                //var _Queactive = _Queacc.accordion("option", "active");
                //var active = $(element).parents('.VacQueCat').parent().prev().accordion("option","active");
                //var $innerCatAccordian = $('.VacQueCat .acc-header:last').parent().parent().prev();
                //$innerCatAccordian.accordion({ active: true });

                _parentAcc.find(_rndacc).accordion("option", "active", false);
                _parentAcc.find(_rndacc).accordion("option", "active", _rndactive);

                //_parentAcc.find(_rndacc).find(_Queacc).accordion("option", "active", false);
                //_parentAcc.find(_rndacc).find('.AccRoundDetail').accordion("option", "active", 1);

                VacancyModel.DisplaySuccessMeesage('#commonMessage', message, 3000);
            });
        }
    }

    function SetVacQueCatOrder(element) {
        var _ele = $(element);
        $.get($(element).attr("data-url"), function (response) {
            var jsonData = JSON.parse(response);
            if (!jsonData.IsError) {
                var _parentAcc = $(element).parents('#VacancyAcc');
                var _rndacc = $(element).parents('.AccRoundDetail');
                var _rndactive = _rndacc.accordion("option", "active");
                _parentAcc.find(_rndacc).accordion("option", "active", false);
                _parentAcc.find(_rndacc).accordion("option", "active", _rndactive);
                VacancyModel.DisplaySuccessMeesage('#commonMessage', jsonData.Message, 3000);
            }
        });
    }

</script>