@using BEClient = ATS.BusinessEntity
@model ATS.WebUi.Models.BreadScrumbModel<ATS.BusinessEntity.SRPEntity.DynamicSRP<BEClient.SkillType>>
@using BECommonConstantConst = ATS.BusinessEntity.Common.CommonConstant
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuDisplayName = "Skill Types";
    string action = ViewBag.RedirectAction;
}

@section Navigation{
    @Html.Partial("_NavCompanySetup")
}

<div id="Messages" style="width: auto; float: left;position:inherit;margin-left:25px;">
</div>

@using (Html.BeginForm(action, "SkillType", FormMethod.Post, new { id = "frmSkillType" }))
{
    @Html.Partial("Buttons/_ViewGearAdmin", Model.obj)
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.obj.obj.SkillTypeId, new { Id = "SkillTypeId" })
    @Html.HiddenFor(m => m.obj.obj.ClientId)
    <div class="form-default">
        <div class="form-group w50">
            @Html.LanguageLabelFor(m => m.obj.obj.DefaultName, new { @class = "label" })
            @Html.TextBoxFor(m => m.obj.obj.DefaultName)
        </div>

        @for (int i = 0; i < Model.obj.obj.SkillTypeEntityLanguage.Count(); i++)
        {
            String languageame = ATS.WebUi.Common.CurrentSession.Instance.VerifiedClient.ClientLanguageList.Where(x => x.LanguageId.Equals(Model.obj.obj.SkillTypeEntityLanguage[i].LanguageId)).First().objLanguage.LanguageName;
            <div class="form-group w50">
                @Html.Label(languageame, new { @class = "label" })
                @Html.HiddenFor(m => m.obj.obj.SkillTypeEntityLanguage[i].LanguageId)
                @Html.TextBoxFor(m => m.obj.obj.SkillTypeEntityLanguage[i].LocalName)
            </div>
        }
    </div>
}

@if (ViewBag.IsError != null && ViewBag.IsError == true)
{
    <script>

        VacancyModel.DisplayErrorMeesage('#commonMessage', '@ViewBag.Message', '@ATS.WebUi.Common.Constants.JSCR_MSG_FADEOUT');
    </script>
}
@if (ViewBag.IsError != null && ViewBag.IsError == false)
{
    <script>
        VacancyModel.DisplaySuccessMeesage('#commonMessage', '@ViewBag.Message', '@ATS.WebUi.Common.Constants.JSCR_MSG_FADEOUT');
    </script>
}

<script>
    function OnClickValidate()
    {
        $('#frmSkillType').submit();
    }
    $(".btn-remove-vacancy").live("click", function () {
        var SkillsCount =""
        if(@Model.obj.obj.RecordExistsCount.Count > 0)
            SkillsCount = @Model.obj.obj.RecordExistsCount.Where(x => x.TableName == "Skills").Select(x => x.Count).FirstOrDefault()
            VacancyModel.ConfirmDialog("ConfirmDiv", "Delete Skill Type", 300, "Are you sure want to delete this Skill Type ? <br /> The following records will also be deleted:<br />" + SkillsCount +" Skills", "Yes", "Cancel", "Delete", this, "test");
        return false;
    });

    function Delete(Result, element, RemoveDivName) {
        if (Result == true) {
            var deletelink = '@Url.Action("Delete", "SkillType", new { id = @Model.obj.obj.SkillTypeId })'
            window.location.href = deletelink;
        }
    }
</script>
